<!DOCTYPE html>
  <html lang="en" class=" theme-black">
  <head>
  <title>nhentai: hentai doujinshi and manga</title>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://cdn.glitch.com/9cf1a9cd-4223-4d68-8e9d-188892573aae%2Fgo-nh.png?1547725929082">
    <meta charset="utf-8">
    <meta name="theme-color" content="#1f1f1f">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="nhentai is a free hentai manga and doujinshi reader with over 165,000 galleries to read and download.">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700">
      <link rel="stylesheet" href="https://cdn.staticaly.com/gist/py7hon/0f963ce83a7f5bcf442331deb7020879/raw/dfecce48937409f104ce7a1cb8f369f50db87768/style.css">
	  <script src="https://code.jquery.com/jquery-3.3.1.js" type='text/javascript'></script>
	  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111919356-4"></script>
	  <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  
	  gtag('config', 'UA-111919356-4');
	  </script>
    <style type="text/css">
      .footer{
      background: #232323;
      padding: 20px;
      margin: 20px 0px;
      }
      .buttons, .advertisement, .menu.right{
      display: none!important;}
      nav[role=navigation]{
      position: fixed;
      width: 100%;
      top:0;
      z-index: 999;
      -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75); }
      .news22{
        background: #000;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index:999;
      }
  </style>
    </head>
    <body><br><br><br>
      <div class="news22"><marquee behavior="scroll" direction="left">Attention !! For now, nhentai.net and nhent.ai migrating the server and if there is a problem on the website, please create an issue on the #issue channel in discord and for Mobile users now they cannot open the nav due to a bug. || Perhatian !! Untuk saat ini nhentai.net dan nhent.ai sedang melakukan migrasi server dan jika terdapat masalah pada website silahkan buat issue di channel #issue di discord dan untuk pengguna Mobile saat ini masih belum bisa membuka nav dikarenakan tedapat bug </marquee></div>
      <%- data%>
	  <script type="text/javascript">
                  var _0xacc5=["\x69\x6D\x67","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x73\x42\x79\x54\x61\x67\x4E\x61\x6D\x65","\x6C\x65\x6E\x67\x74\x68","\x64\x61\x74\x61\x2D\x73\x72\x63","\x67\x65\x74\x41\x74\x74\x72\x69\x62\x75\x74\x65","\x73\x72\x63","\x73\x65\x74\x41\x74\x74\x72\x69\x62\x75\x74\x65","\x72\x65\x6D\x6F\x76\x65\x41\x74\x74\x72\x69\x62\x75\x74\x65","\x69\x2E\x6E\x68\x65\x6E\x74\x61\x69\x2E\x6E\x65\x74","\x70\x72\x6F\x78\x79\x2E\x64\x75\x63\x6B\x64\x75\x63\x6B\x67\x6F\x2E\x63\x6F\x6D\x2F\x69\x75\x2F\x3F\x75\x3D\x68\x74\x74\x70\x73\x3A\x2F\x2F\x69\x2E\x6E\x68\x65\x6E\x74\x61\x69\x2E\x6E\x65\x74","\x72\x65\x70\x6C\x61\x63\x65","\x70\x72\x6F\x70","\x74\x2E\x6E\x68\x65\x6E\x74\x61\x69\x2E\x6E\x65\x74","\x70\x72\x6F\x78\x79\x2E\x64\x75\x63\x6B\x64\x75\x63\x6B\x67\x6F\x2E\x63\x6F\x6D\x2F\x69\x75\x2F\x3F\x75\x3D\x68\x74\x74\x70\x73\x3A\x2F\x2F\x74\x2E\x6E\x68\x65\x6E\x74\x61\x69\x2E\x6E\x65\x74"];var imgEl=document[_0xacc5[1]](_0xacc5[0]);for(var i=0;i< imgEl[_0xacc5[2]];i++){if(imgEl[i][_0xacc5[4]](_0xacc5[3])){imgEl[i][_0xacc5[6]](_0xacc5[5],imgEl[i][_0xacc5[4]](_0xacc5[3]));imgEl[i][_0xacc5[7]](_0xacc5[3])}};$(_0xacc5[0])[_0xacc5[11]](_0xacc5[5],function(){return this[_0xacc5[5]][_0xacc5[10]](_0xacc5[8],_0xacc5[9])});$(_0xacc5[0])[_0xacc5[11]](_0xacc5[5],function(){return this[_0xacc5[5]][_0xacc5[10]](_0xacc5[12],_0xacc5[13])});$(_0xacc5[0])[_0xacc5[11]](_0xacc5[3],function(){return this[_0xacc5[5]][_0xacc5[10]](_0xacc5[12],_0xacc5[13])})
                  </script>
  <div class="footer">
  <div>
    Join Discord For Issue & Bugs Website : <a href="https://discord.gg/cY7b3pd" title="Join">JOIN</a>
        </div>
        <div>
    © 2019 nHentai.net x nH
        </div>
      </div>
    </body>
  </html>
